* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: #3423A6;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: #3423A6;
}

.container {
  min-height: 70vh;
  padding: 1em 2em 3em;
  max-width: 1200px;
  margin: 0 auto;
}